.banner
	.container
		.banner__wrapper
			.banner__title РАССКАЖИТЕ В ДВУХ СЛОВАХ О КОМПАНИИ ИЛИ СВОЁМ ГЛАВНОМ ПРЕИМУЩЕСТВЕ
			.banner__desc Опишите компанию или преимущество, его особенности и почему посетитель должен скорее связаться с вами!
			a.button СВЯЗАТЬСЯ С НАМИ


