.banners
	.container
		.banners__wrapper
			.banners__item.banners__item--reviews  
				a.banners__link(href="#") Отзывы пациентов
			.banners__item.banners__item--services 
				a.banners__link(href="#") Услуги
			.banners__item.banners__item--doctor
				a.banners__link(href="#") Прием врачей