.content
	.container
		.content__wrapper
			.content__left
				h1.content__title о больнице
				p Государственное бюджетное учреждение здравоохранения Тверской области Детская областная клиническая больница (ГБУЗ "ДОКБ") является ведущим лечебным учреждением области, в котором оказывают специализированную медицинскую помощь детям Твери и Тверской области. 
				img.content__img.content__img--float(src="images/company2.png")
				img.content__img.content__img--float(src="images/company1.png")
			.content__right
				.video
					.video__header
						h3.video__header__title Видео
						a.video__header__link(href="#") Все видео
					.video__item
						.video__title Лекции профессора Иванова студетам Медицинской академии г. Твери
						iframe(width="100%", height="300", src="https://www.youtube.com/embed/vwpgRdwAgLI?controls=0&amp;showinfo=0")
			.content__center
				h3 В больнице функционирует 10 отделений:
				.ul.ul--float
					ul
						li I-е педиатрическое отделение для детей раннего возраста, в т.ч. отделение патологии новорождённых;
						li II-е педиатрическое отделение для детей с 5 лет (профильные направления: педиатрическое, гематологическое, онкологическое, аллергенное);
						li неврологическое отделение, (принимает детей с периода новорождённости);
						li 1-е хирургические отделение (в т.ч. хирургия для новорожденных, челюстно-лицевая хирургия)
						li 2-е хирургическое отделение (в т.ч. ожоговые, гинекологические, ЛОР профильные направления);
					ul
						li ортопедотравматологическое отделение;
						li уроандрологическое отделение;
						li инфекционное;
						li нейрохирургическое;
						li реанимационное отделения.
				p Ежегодно в ДОКБ на 403 койках круглосуточного пребывания и 69 койках в дневном стационаре получают лечение около 12 000 детей с тяжёлыми формами заболеваний и более 130 000 детям оказывается амбулаторная консультативная помощь – это почти половина всех детей г.Твери и Тверской области.
				
