.company
	.container
		h2.company__title В ДВУХ СЛОВАХ О ВАШЕЙ КОМПАНИИ
		.company__wrapper
			.company__img 
				img.company__img__item(src="images/company.png", alt="В ДВУХ СЛОВАХ О ВАШЕЙ КОМПАНИИ")
			.company__desc 
				p В данном блоке важно коротко и ясно написать о деятельности вашей компании.  Напишите, почему необходимо обратиться к вам. Опишите ваши сильные стороны двумя предложениями! 
				p Загрузите слева в блок наиболее подходящую и характеризующую вас фотографию.
				a.button(href="/company.html") ПОДРОБНЕЕ О КОМПАНИИ