.contact
	#map
	#map--mobile
	.container
		.contact__wrapper
			h3.contact__title КОНТАКТНАЯ ИНФОРМАЦИЯ
			.contact__desc Вы можете связаться с нами любым удобным для вас способом:
			.contact__adress Адрес: г. Тверь, ул. Советская, 1, оф. 1
			.contact__tel Телефон: 
				a.contact__tel__link(href="tel:8 987 654 3210") 8 987 654 3210
			.contact__email E-mail: 
				a.contact__mail__link(href="mailto:mycompanysite@mail.ru") mycompanysite@mail.ru