.news
	.container
		.news__header
			h3.news__header__title Новости
			a.news__header__link(href="#") Все новости
		.news__wrapper
			+news("06.10.2017","День пожилого человека","1 октября отмечается Международный День пожилых людей. Возможно, он отмечается в октябре потому, что осень года отождествляется с осенью жизни.","images/product2.png")
			+news("06.10.2017","Опрос о мерах по повышению рождаемости","1 октября отмечается Международный День пожилых людей. Возможно, он отмечается в октябре потому, что осень года отождествляется с осенью жизни.","images/product1.png")