.news
	.container
		h2.news__header НОВОВСТИ КОМПАНИИ
		.news__wrapper
			+news--detail("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию", "/images/product1.png")
			+news--detail("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию.", "/images/product2.png")
			+news--detail("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию.", "/images/product3.png")
			+news--detail("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию", "/images/product1.png")
			+news--detail("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию.", "/images/product2.png")
			+news--detail("22.02.2022","Заголовок новости","Описание новости. Здесь автоматически  дублируются несколько первых предложений новостного текста. При клике на них, посетитель переходит в саму новость и получает подробную информацию.", "/images/product3.png")