.number
	.container
		.number__wrapper
			.number__item
				.number__title 150000
				.number__desc амбулаторных консультаций детям
			.number__item
				.number__title 12000
				.number__desc тяжелобольных детей получают помощь ежедневно 
			.number__item
				.number__title 470
				.number__desc коек стационара
			.number__item
				.number__title 24
				.number__desc врачебные специализации