.plus
	span(id="plus")
	.container
		h2.plus__title__header ваши основные преимущества
		.plus__title__text У вашего товара или услуги наверняка есть сильные стороны, расскажите о них!

		ul.plus__list
			li.plus__item
				.plus__img
					+svg-settings
				h3.plus__title Преимущество 1
				.plus__desc Описание первого преимущества. Напишите вкратце, чем хорошо ваш товар или услуга. Много писать не нужно, достаточно 2-х предложений
			li.plus__item
				.plus__img
					+svg-time
				h3.plus__title Преимущество 2
				.plus__desc Описание второго преимущества. Не забывайте загрузить красивые иконки для преимуществ. Так будет гармоничнее выглядеть макет
			li.plus__item
				.plus__img
					+svg-idea
				h3.plus__title Преимущество 3
				.plus__desc Описание третьего преимущества. 3-х основных преимуществ вполне достаточно, чтобы посетитель отметил их для себя. Большее количество утомительно для восприятия
