.overlay.overlay__display
	.popup.popup__wrapper
		h2.popup__title Оставить заявку
		form.feedback
			input(type="text", placeholder="Ваше имя", class="feedback__name feedback__input", name="feedback__name")
			input(type="tel", placeholder="Телефон", class="feedback__tel feedback__input", name="feedback__name")
			input(type="email", placeholder="Email", class="feedback__email feedback__input", name="feedback__name")
			input(type="submit", valuer="Отправить", class="feedback__submit", name="feedback__submit")
			p Нажимая на кнопку "Отправить", вы даете согласие на обработку своих персональных данных.
		.popup__close
	





