.product
	.container
		h2.product__header ЦЕНЫ НА ПРОДУКЦИЮ или услугу
		.product__wrapper
			+product('/images/product1.png', 'ТОВАР 1', 'Описание товара или услуги. Опишите, что входит в данную стоимость', '500 руб.')
			+product('/images/product2.png', 'ТОВАР 2', 'Описание товара или услуги. Опишите, что входит в данную стоимость', '1500 руб.')
			+product('/images/product1.png', 'ТОВАР 3', 'Описание товара или услуги. Опишите, что входит в данную стоимость', '15000 руб.')
			+product('/images/product1.png', 'ТОВАР 4', 'Описание товара или услуги. Опишите, что входит в данную стоимость', '500 руб.')
			+product('/images/product2.png', 'ТОВАР 5', 'Описание товара или услуги. Опишите, что входит в данную стоимость', '1500 руб.')
			+product('/images/product1.png', 'ТОВАР 6', 'Описание товара или услуги. Опишите, что входит в данную стоимость', '15000 руб.')