.product
	span(id="product")
	.container
		h2.product__title НАШИ ЦЕНЫ
		.product__desc Вы можете добавлять товар и цены на услуги. К текстовому контенту можно добавить фотографии
		.owl-carousel.owl__product
			+slider('images/product1.png', 'ТОВАР 1', 'Описание товара или услуги. Опишите, что входит в данную стоимость Описание товара или услуги. Опишите, что входит в данную стоимость','500 руб.')
			+slider('images/product2.png', 'ТОВАР 2', 'Описание товара или услуги. Опишите, что входит в данную стоимость Описание товара или услуги. Опишите, что входит в данную стоимость','500 руб.')
			+slider('images/product3.png', 'ТОВАР 3', 'Описание товара или услуги. Опишите, что входит в данную стоимость Описание товара или услуги. Опишите, что входит в данную стоимость','500 руб.')
			+slider('images/product1.png', 'ТОВАР 4', 'Описание товара или услуги. Опишите, что входит в данную стоимость Описание товара или услуги. Опишите, что входит в данную стоимость','500 руб.')
			+slider('images/product2.png', 'ТОВАР 5', 'Описание товара или услуги. Опишите, что входит в данную стоимость Описание товара или услуги. Опишите, что входит в данную стоимость','500 руб.')