.services
	.container
		h2.services__header__title СПИСОК ВАШИХ УСЛУГ
		.services__header__desc Опишите более подробно о предоставляемых вами услугах
		.services__wrapper
			+services('УСЛУГА 1','Описание первой услуги. Напишите подробно, чем хорошо ваш товар или услуга. Желательно написать несколько предложений, чтобы максимально описать выгоду взаимодействия с вами! Описание первой услуги. Напишите подробно, чем хорошо ваш товар или услуга. Желательно написать несколько предложений, чтобы максимально описать выгоду взаимодействия с вами!')
			+services('УСЛУГА 2','Описание второй услуги. Не забывайте загрузить красивые иконки для ваших услуг. Это могут быть не только иконки, но и картинки, фотографии или красивые цифры. Так будет гармоничнее выглядеть макет.')
			+services('УСЛУГА 3','Описание третей услуги. Услуг должно быть не больше 6, описательные текста - не слишком длинные, но и не слишком короткие, чтобы был контент и не ухудшилось восприятие сайта.')
		a.button(href="/services.html") ВСЕ УСЛУГИ


