.services.services--detail
	.container
		h2.services__header__title НАШИ УСЛУГИ
		.services__wrapper.services__wrapper--detail
			+services--detail('УСЛУГА 1','Описание первой услуги. Напишите подробно, чем хорошо ваш товар или услуга. Желательно написать несколько предложений, чтобы максимально описать выгоду взаимодействия с вами! Описание первой услуги. Напишите подробно, чем хорошо ваш товар или услуга. Желательно написать несколько предложений, чтобы максимально описать выгоду взаимодействия с вами!')
			+services--detail('УСЛУГА 2','Описание второй услуги. Не забывайте загрузить красивые иконки для ваших услуг. Это могут быть не только иконки, но и картинки, фотографии или красивые цифры. Так будет гармоничнее выглядеть макет.')
			+services--detail('УСЛУГА 3','Описание третей услуги. Услуг должно быть не больше 6, описательные текста - не слишком длинные, но и не слишком короткие, чтобы был контент и не ухудшилось восприятие сайта.')
			+services--detail('УСЛУГА 1','Описание первой услуги. Напишите подробно, чем хорошо ваш товар или услуга. Желательно написать несколько предложений, чтобы максимально описать выгоду взаимодействия с вами! Описание первой услуги. Напишите подробно, чем хорошо ваш товар или услуга. Желательно написать несколько предложений, чтобы максимально описать выгоду взаимодействия с вами!')
			+services--detail('УСЛУГА 2','Описание второй услуги. Не забывайте загрузить красивые иконки для ваших услуг. Это могут быть не только иконки, но и картинки, фотографии или красивые цифры. Так будет гармоничнее выглядеть макет.')
			+services--detail('УСЛУГА 3','Описание третей услуги. Услуг должно быть не больше 6, описательные текста - не слишком длинные, но и не слишком короткие, чтобы был контент и не ухудшилось восприятие сайта.')


