.site
	.container
		.site__wrapper
			.site__item
				a.site__link(href="#", target="_blank")
					img.site__img(src="/images/slider1.png", alt="")
			.site__item
				a.site__link(href="#", target="_blank")
					img.site__img(src="/images/slider2.png", alt="")
			.site__item
				a.site__link(href="#", target="_blank")
					img.site__img(src="/images/slider3.png", alt="")
			.site__item
				a.site__link(href="#", target="_blank")
					img.site__img(src="/images/slider4.png", alt="")