.owl-carousel.owl__slider
	+sliders("Детская областная клиническая больница", "Государственное бюджетное учреждение здравоохранения Тверской области областная клиническая больница ГБУЗ ДОКБ является ведущим лечебным учреждением области, в котором оказывают специализированную медицинскую помощь детям Твери и Тверской области.")
	+sliders("Детская областная клиническая больница", "Государственное бюджетное учреждение здравоохранения Тверской области областная клиническая больница ГБУЗ ДОКБ является ведущим лечебным учреждением области, в котором оказывают специализированную медицинскую помощь детям Твери и Тверской области.")
	+sliders("Детская областная клиническая больница", "Государственное бюджетное учреждение здравоохранения Тверской области областная клиническая больница ГБУЗ ДОКБ является ведущим лечебным учреждением области, в котором оказывают специализированную медицинскую помощь детям Твери и Тверской области.")
