.tab
  .container
    .tab__header
      a.tab__title.tab__title--active(data-href="#tab__content1") Консультативная поликлиника
      a.tab__title(data-href="#tab__content2") Областные специалисты
      a.tab__title(data-href="#tab__content3") Профессорско-преподавательский состав

    .tab__content.tab__content--active#tab__content1 
      p Консультативная поликлиника Детской областной клинической больницы оказывает лечебно-диагностическую помощь детям по 24 врачебным специальностям.
      p В составе больницы имеются так же параклинические и вспомогательные подразделения. Их деятельность определяет качество диагностики, длительность восстановительного периода и реабилитации.
    .tab__content#tab__content2
      p Многие из сотрудников ДОКБ являются высочайшими специалистами. Ежегодно создаются «выездные» бригады из их числа. Бригады врачей осуществляют обследование детей из стационарных учреждений области. После обследования, при показании к госпитализации, осуществляется перевод, нуждающихся в лечении, в ГБУЗ ДОКБ.
      p ГБУЗ ДОКБ является базой пяти клинических кафедр Тверского государственного медицинского Университета для обучения студентов.
    .tab__content#tab__content3 
      p Профессорско-преподавательский состав кафедр активно участвует в обследовании и лечении детей, оказывает консультативную помощь. При совместном сотрудничестве разрабатываются и внедряются новые медицинские технологии, ведется большая научная работа.
      p Проводимые руководством Детской Областной Клинической Больницы организационные и структурные мероприятия, положительно повлияли на основные интегральные показатели здоровья детского населения Твери и Тверской области.