.top
	.container
		.top__wrapper
			.top__contact
				a.top__phone(href="tel:+7 (987) 653 3210") +7 (987) 653 3210
				a.top__email(href="mailto:info@yourmail.ru") info@yourmail.ru
				a.top__adress(href="/contact.html") Город, улица, номер дома и офиса
			.top__social
				a.top__social__item(href="https://vk.com", target="_blank")
					img.top__social__img(src="/images/vk.svg")
				a.top__social__item(href="https://www.facebook.com/", target="_blank")
					img.top__social__img(src="/images/facebook.svg")
				a.top__social__item(href="https://www.instagram.com/", target="_blank")
					img.top__social__img(src="/images/instagram.svg")