html, body{
	height: 100%;
}


body{
	font-family: $ff-main;
	font-size: 16px;
	line-height: 1.2;
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

ul, ol{
	list-style-type: none;
}


.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}


.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;

}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;

}

.slideout-open .slideout-panel {

}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

body #ugost-line > md-content > .column-logo{
  display: none;
}


.ugost-active.ugost-showline .owl-carousel.owl__slider, .ugost-active.ugost-showline .banners {
  display: none;
}


